.about-section {
  padding-top: 10rem;
  background: #eeeeee;
  p {
    margin-bottom: 5rem;
  }
}

.about-top-padding{
  padding-top: 50px;
}

.about-bottom-padding{
  padding-bottom: 50px;
}

@media(min-width:768px){
  .about-top-padding{
    padding-top: 50px;
  }

  .about-bottom-padding{
    padding-bottom: 50px;
  }
}
@supports (-ms-ime-align:auto){
  @media(min-width:992px) {
    .about-top-padding{
      padding-top: 150px;
    }

    .about-bottom-padding{
      padding-bottom: 50px;
    }
  }
}

@media(min-width:992px) {
  _:-ms-lang(x), _:-webkit-full-screen, .about-top-padding { 
    padding-top: 150px;
  }
}

@media(min-width:992px) {
  .about-top-padding { 
    padding-top: 50px;
  }
}