.about-section {
  padding-top: 10rem;
  background: #eeeeee;
  p {
    margin-bottom: 5rem;
  }
}

.about-top-padding{
  padding-top: 80px;
}

.about-bottom-padding{
  padding-bottom: 0px;
}

@media(min-width:768px){
  .about-top-padding{
    padding-top: 80px;
  }

  .about-bottom-padding{
    padding-bottom: 0px;
  }
}

@media(min-width:992px) {
  .about-top-padding { 
    padding-top: 80px;
  }

  .about-bottom-padding{
    padding-bottom: 0px;
  }
}