.client-section {
  padding-top: 10rem;
  background: #eeeeee;
  p {
    margin-bottom: 5rem;
  }
}

.client-top-padding{
  padding-top: 50px;
}

.client-bottom-padding{
  padding-bottom: 50px;
}

.client-row{
  height: 150px;
}

@media(min-width:768px){
  .client-top-padding{
    padding-top: 50px;
  }

  .client-bottom-padding{
    padding-bottom: 50px;
  }
}

@media(min-width:992px){
  .client-top-padding{
    padding-top: 50px;
  }

  .client-bottom-padding{
    padding-bottom: 50px;
  }
}