.mail-modal {
  .mail-modal-dialog {
    min-height: 50vh;
    padding: 3rem;
    margin: 3rem calc(3rem - 8px);
    h2 {
      font-size: 3rem;
    }
  }
  /*
  .mail-modal-dialog {
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    -webkit-box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    box-shadow: 0 0 3rem 1rem fade-out(black, .5);
    h2 {
      font-size: 2rem;
    }
  }
  @media(min-width: 768px) {

  }
  */
}
